footer{
    background-color: #164DF2;
    color: #fff!important;
    font-family: "Poppins",sans-serif;
    height: 130px;
    width: 100vw;
}
a{
    color: #fff;
    text-decoration: none;
}
.logoFooter{
    width: 64px;
    margin-left: 20px;
}
.row{
    margin-right: 0!important;
}
