<div class="row footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <img src="../../../assets/images/cropped-Logo-prueba.png" class="logoFooter">
        </a>
        <div class="col-md-9 align-items-center text-center" style="margin-left: 3%; margin-right: 20%;">
          <p>E-Mail: <a href="mailto:gestionestacionamiento@utng.edu.mx">gestionestacionamiento@utng.edu.mx</a></p>
          <p>Teléfono: +52 1234567890</p>
        </div>
        <div class="col-md-9 align-items-center text-center">
          <span style="margin-left: 10px;">Redes sociales</span>
          <ul class="nav col-md-6 justify-content-end list-unstyled d-flex" style="margin-top: 10px; margin-left: 55px;">
              <li class="ms-3"><i class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i></li>
              <li class="ms-3"><i class="fa-brands fa-twitter fa-xl" style="color: #ffffff;"></i></li>
              <li class="ms-3"><i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i></li>
            </ul>
        </div>
        <div class="col-md-5 align-items-center text-center" style="margin-left: 45%; margin-right: 0;">
          <span class="h5">Referencias:</span><br>
          <span>Referencia 1.</span><br>
          <span>Referencia 2.</span><br>
          <span>Referencia 3.</span><br>
        </div>
      </div>
    </footer>
  </div>