<div>
  <h1 class="card card-body text-center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> <strong>Gestion de Estacionamiento UTNG</strong> </h1>
  <p style="text-align: justify;">Te damos la bienvenida a nuestro sitio donde podras registrar un vehiculo para poder asignarte un lugar
    en nuestro estacionamiento.
    Ademas este proceso de asignacion es mas rapipdo, facil y comodo. <br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam neque aliquid reprehenderit quaerat. Libero optio eveniet quasi eos rem quis aliquam incidunt harum deleniti adipisci, aperiam ad veniam doloremque sit! <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minus, iste dolores saepe similique quae quibusdam alias dolor ex, non hic dignissimos beatae soluta eligendi repellat blanditiis recusandae reprehenderit veritatis?
  </p>
  <div style="display: inline-block;" style="display: flex;">
      <img src="https://www.elimparcial.com/__export/1557189653736/sites/elimparcial/img/2015/10/19/1286182-N.JPG_1359985867.jpg"  width="250" height="250" style="margin-left: 10%;">
      <img src="https://thumbs.dreamstime.com/b/fila-de-bicis-30976755.jpg"  WIDTH=250 HEIGHT=250 style="margin-left: 5%;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Entrada_de_la_Universidad_Tecnol%C3%B3gica_del_Norte_de_Guanajuato_%28UTNG%29.jpg" width="250" height="250" style="margin-left: 5%;">
  </div>
</div>