<div class="container">
    <div class="row">
        <h1 class="text-center" style="margin-bottom: 30px;">Configuración de cuenta</h1>
        <div class="col col-md-6">
            <h4 style="margin-bottom: 20px; margin-top: 10px;">Cambiar datos de cuenta</h4>
            <form (ngSubmit)="actualizarDatos()">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Pepe" required [(ngModel)]="usrData.nombre">
                    <label for="nombre">Nombre</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="apePat" name="apePat" placeholder="González" required [(ngModel)]="usrData.apePat">
                    <label for="apePat">Apellido Paterno</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="apeMat" name="apeMat" placeholder="Rodríguez" [(ngModel)]="usrData.apeMat">
                    <label for="apeMat">Apellido Materno</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="imgUsuario" name="imgUsuario" placeholder="https://somesite.com/image.png" [(ngModel)]="usrData.imgUsuario" required>
                    <label for="imgUsuario">Imagen de usuario</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="telefono" name="telefono" placeholder="1234567890" [(ngModel)]="usrData.telefono" required>
                    <label for="telefono">Teléfono</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="correo" name="correo" placeholder="email@email.com" [(ngModel)]="usrData.correo" required>
                    <label for="correo">Correo</label>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-success">Actualizar Datos</button>
                  </div>
              </form>
        </div>
        <div class="col col-md-6">
            <h4 style="margin-bottom: 20px; margin-top: 10px;">Cambiar contraseña</h4>
            <form (ngSubmit)="cambiarContra()">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="anteriorPasswd" name="anteriorPasswd" placeholder="**********" [(ngModel)]="cambiarPass.anteriorPasswd" required>
                    <label for="anteriorPasswd">Contraseña anterior</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="newPasswd" name="newPasswd" placeholder="**********" [(ngModel)]="cambiarPass.newPasswd" required>
                    <label for="newPasswd">Contraseña nueva</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="confirmaPasswd" name="confirmaPasswd" placeholder="**********" [(ngModel)]="cambiarPass.confirmaPasswd" required>
                    <label for="confirmaPasswd">Confirmar contraseña</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Cambiar contraseña</button>
                </div>
            </form>
            <div class="col aling-self-end">
                <h4 style="margin-top: 20px; margin-bottom: 10px;">Eliminar cuenta.</h4>
                <p>Recuerda que eliminar tu cuenta es irreversible y, aunque puedes volver a crearla, no será la misma.
                    Si estás de acuerdo con ello, entonces presiona el botón rojo que se encuentra debajo de este texto.
                </p>
                <div class="text-center">
                    <button class="btn btn-danger mt-3" (click)="eliminarCuenta()">Eliminar Cuenta</button>
                </div>
            </div>
        </div>
        
    </div>
    
  </div>
  