<section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="display-4">Sobre Nosotros</h2>
          <p class="lead" style="text-align: justify!important;">¡Bienvenido a nuestro estacionamiento! En UTNG Parking, nos enorgullecemos de ofrecer un servicio de gestión de aparcamiento de vanguardia, diseñado para hacer que tu experiencia sea más cómoda y conveniente. Nuestro equipo está dedicado a brindar un servicio excepcional a nuestros clientes, asegurando que cada visita sea segura y sin problemas. Desde nuestra fundación, hemos buscado constantemente mejorar la eficiencia y satisfacción de nuestros usuarios, y continuamos innovando para hacer del estacionamiento una experiencia placentera.</p>
        </div>
        <div class="col-lg-6">
          <img src="../../../assets/images/estacionamiento.png" alt="Imagen Nosotros" class="img-fluid rounded-circle">
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Nuestra Historia</h3>
          <p style="text-align: justify!important;">Comenzamos nuestra travesía en el mundo de la gestión de estacionamientos hace más de una década. Desde entonces, hemos crecido y evolucionado, convirtiéndonos en líderes de la industria. Durante estos años, hemos trabajado arduamente para expandir nuestras instalaciones y ofrecer servicios adicionales que agreguen valor a nuestros clientes. Nuestros logros son el resultado del compromiso y dedicación de nuestro equipo, así como la confianza y lealtad de nuestros clientes.</p>
        </div>
        <div class="col-md-6">
          <h3>Nuestro Equipo</h3>
          <p style="text-align: justify!important;">Contamos con un equipo altamente capacitado y apasionado por brindar el mejor servicio posible. Nuestros expertos en gestión de estacionamientos están siempre dispuestos a asistirte y garantizar una experiencia sin preocupaciones. Desde nuestros amables agentes de atención al cliente hasta nuestro equipo de mantenimiento, todos trabajan en conjunto para asegurar que encuentres un lugar seguro y conveniente para estacionar tu vehículo.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Nuestra Misión</h3>
          <p style="text-align: justify!important;">Nos guía una misión clara y sencilla: proporcionar un estacionamiento confiable, seguro y fácil de usar para nuestros clientes. Nos esforzamos por superar las expectativas y ser el destino preferido para aquellos que buscan una solución de estacionamiento confiable. Nuestra visión es liderar la industria con tecnología avanzada, prácticas ecológicas y un enfoque centrado en el cliente.</p>
        </div>
        <div class="col-md-6">
          <h3>Nuestra Cultura</h3>
          <p style="text-align: justify!important;">Nuestra cultura se basa en la excelencia y el respeto. Valoramos a nuestros empleados y clientes por igual y trabajamos en un entorno de equipo colaborativo. Fomentamos la innovación y el aprendizaje continuo para mantenernos a la vanguardia de la industria. Nuestro compromiso con la sostenibilidad y el medio ambiente también es un pilar fundamental de nuestra cultura, ya que buscamos minimizar nuestro impacto ambiental y promover prácticas ecoamigables.</p>
        </div>
      </div>
    </div>
  </section>
  